@using SightsView.Web.ViewModels.Home;
@model HomeIndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<br />

<div class="text-dark text-center">
    <h1>Welcome to SightsView</h1>
</div>

<hr />

<div class="card text-center bg-dark mb-lg-2">
    <div class="card-header text-white text-center">
        <h3>Most popular locations</h3>
    </div>

    <div class="card-body bg-light">
        <div class="container">
            <div class="row mb-2">

                @foreach (var country in @Model.CountriesWithMostImages)
                {
                    <div class="col-md-3 mb-3">
                        <div class="img-thumbnail mb-3 mt-3">
                            <img src="@country.DataURL" alt="..." class="img-thumbnail">

                            <a asp-controller="Countries" asp-action="Index" asp-route-id=@country.Id asp-for class="btn btn-dark text-center col-md-12">@country.Name</a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

    <div class="card-footer text-muted bg-dark mt-2">
    </div>
</div>

<hr />

<br />

<div class="gallery" id="gallery">
    @foreach (var creation in Model.Creations)
    {
        <div class="pics mb-3 animation all 1">
            <a asp-controller="Creations" asp-action="Load" asp-route-id=@creation.Id>
                <img class="img-fluid" src="@creation.CreationDataUrl" style="width: 100%" alt="Card image cap">

                <div class="carousel-caption">
                    <h6>@creation.CreatorUserName</h6>
                </div>
            </a>
        </div>
    }
</div>
