@using SightsView.Common
@using SightsView.Web.ViewModels.Creations;
@model CreationsLoadViewModel
@{
    this.ViewData["Title"] = "Creation";
}

<br />

<div class="container col-md-10 justify-content-center">
    <div class="card">
        <img class="card-img-top rounded" src="@Model.Creation.CreationDataUrl" alt="Card image cap">

        <div class="card-body">
            <div class="text-center mb-1">
                <a asp-controller="Profiles" asp-action="Index" asp-route-id="@Model.Creation.CreatorId" class="badge badge-dark float-lg-left mt-1">@Model.Creation.CreatorUserName</a>

                <span class="badge badge-pill badge-light float-lg-right">
                    <img src="\visibility.png" alt="icon" style="width: 20px" />
                    @Model.Creation.Views
                </span>

                <a asp-controller="Creations" asp-action="Equipment" asp-route-id=@Model.Creation.Id class="badge badge-pill badge-light float-lg-right">
                    <img src="~/camera.png" alt="icon" style="width: 20px" />
                </a>

                <a asp-controller="Creations" asp-action="Details" asp-route-id=@Model.Creation.Id class="badge badge-pill badge-light float-lg-right">
                    <img src="~/info.png" alt="icon" style="width: 20px" />
                </a>

                @if (this.User.Identity.Name == Model.Creation.CreatorUserName ||
                    this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <a href="#" class="badge badge-pill badge-light float-lg-right" data-toggle="modal" data-target="#btn">
                        <img src="~/blackdelete.png" alt="icon" style="width: 20px" />
                    </a>
                    <a asp-controller="Creations" asp-action="Edit" asp-route-id=@Model.Creation.Id class="badge badge-pill badge-light float-lg-right">
                        <img src="~/blackedit.png" alt="icon" style="width: 20px" />
                    </a>
                }
            </div>

            <hr />

            <div>
                <h3 class="card-title text-lg-center font-weight-bold">@Model.Creation.Title</h3>

                <p class="card-text text mb-lg-3">@Model.Creation.Description</p>
            </div>

            <hr />

            <div>
                <a asp-for class="btn btn-dark text-center col-md-5" onclick="goBack()">Close</a>

                <button asp-for class="btn btn-dark float-right" onclick="likeAction()">
                    <img src="~/heart.png" alt="icon" style="width: 20px" />
                    <span id="likes" class="badge badge-light">@Model.Creation.LikesCount</span>
                </button>

                <a asp-controller="Comments" asp-action="Add" asp-route-id="@Model.Creation.Id" class="btn btn-dark mx-1 col-md-5">Comment</a>
            </div>

        </div>

        <input id="creationId" type="hidden" value="@Model.Creation.Id" />
    </div>
</div>

<hr />

<div class="container col-md-10 justify-content-center">
    @foreach (var comment in Model.Comments)
    {
        <div class="card border-dark mb-2">
            <div class="card-header">
                <a asp-controller="Profiles" asp-action="Index" asp-route-id="@comment.ApplicationUserId" class="text-dark">
                    <h6>@comment.ApplicationUserUserName</h6>
                </a>
            </div>

            <div class="card-body text-dark">
                <p class="card-text">@comment.Content</p>
            </div>

            <div>
                <a asp-controller="Replies" asp-action="Add" asp-route-id="@comment.Id" class="btn-sm btn-dark col-md-3 text-center mx-1 float-right">Reply</a>

                @if (this.User.Identity.Name == comment.ApplicationUserUserName ||
                    this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <div class="mx-2">
                        <a asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id" class="mx-1 float-right" onclick="return confirm('Are you sure you want to delete?');">
                            <img src="~/blackdelete.png" alt="icon" style="width: 27px" />
                        </a>

                        <a asp-controller="Comments" asp-action="Edit" asp-route-id="@comment.Id" class="float-right">
                            <img src="~/blackedit.png" alt="icon" style="width: 27px" />
                        </a>
                    </div>
                }
            </div>

            <hr />

            <div class="container col-10 offset-2">
                @foreach (var reply in comment.Replies)
                {
                    <div class="card border-dark mb-1">
                        <div class="card-header">
                            <a asp-controller="Profiles" asp-action="Index" asp-route-id="@reply.ApplicationUserId" class="text-dark float-right">
                                <h6>@reply.ApplicationUserUserName</h6>
                            </a>
                        </div>

                        <div class="card-body text-dark">
                            <p class="card-text">@reply.Content</p>
                        </div>

                        <div class="mb-2">
                            @if (this.User.Identity.Name == comment.ApplicationUserUserName ||
                                 this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                            {
                                <div class="mx-2">
                                    <a asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id" class="float-right mx-1" onclick="return confirm('Are you sure you want to delete?');">
                                        <img src="~/blackdelete.png" alt="icon" style="width: 25px" />
                                    </a>

                                    <a asp-controller="Comments" asp-action="Edit" asp-route-id="@comment.Id" class="float-right">
                                        <img src="~/blackedit.png" alt="icon" style="width: 25px" />
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>

<form method="post">
    <div class="modal fade" id="btn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Warning!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body text-center">
                    <h5>Are you sure you want to delete this Creation</h5>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-dark" type="submit" id="submitResult"
                            asp-controller="Creations" asp-action="Delete" asp-route-id=@Model.Creation.Id>
                        Delete
                    </button>
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel!</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" id="antiForgeryForm"></form>

@section Scripts {
    <script asp-append-version="true" src="~/js/likes.js"></script>
}
