@using SightsView.Web.ViewModels.Creations
@model CreationsViewModel
@{
    this.ViewData["Title"] = "Creation";
}

<div class="card mb-10 offset-1 mt-5">
    <img class="card-img-top rounded" src="@Model.DataUrl" alt="Card image cap">

    <div class="card-body">

        <div>
            <a asp-controller="Profiles" asp-action="Index" asp-route-id="@Model.CreatorId" class="badge badge-dark">@Model.CreatorName</a>

            <span class="badge badge-pill badge-light float-lg-right">
                <img src="\visibility.png" alt="icon" style="width: 20px" />
                @Model.Views
            </span>

            <hr />

            <h4 class="card-title text-lg-center">@Model.Title</h4>
        </div>

        <p class="card-text text mb-lg-3">@Model.Description</p>

        <hr />

        <div>
            <a asp-for class="btn btn-dark text-center col-md-11" onclick="goBack()">Close</a>

            <button asp-for class="btn btn-dark float-right" onclick="likeAction()">
                <img src="~/heart.png" alt="icon" style="width: 20px" />
                <span id="likes" class="badge badge-light">@Model.Likes</span>
            </button>
        </div>

    </div>

    <input id="creationId" type="hidden" value="@Model.Id" />
</div>

@section Scripts {
    <script asp-append-version="true" src="~/js/likes.js"></script>
}