@using SightsView.Web.ViewModels.Photographers
@model PhotographersLIstViewModel;
@{
    this.ViewData["Title"] = "Photographers";
}

<ul class="nav nav-pills nav-fill nav-justified mt-md-n2 mb-5">

    <li class="nav-item mr-1">
        <a asp-controller="Photographers" asp-action="MostCreations" class="nav-link active bg-dark">Most Creations</a>
    </li>

    <li class="nav-item mr-1">
        <a asp-controller="Photographers" asp-action="MostLikes" class="nav-link active bg-dark">Most Popular</a>
    </li>

    <li class="nav-item mr-1">
        <a asp-controller="Photographers" asp-action="MostFollowers" class="nav-link active bg-dark">Most Followers</a>
    </li>

    <li class="nav-item">
        <a asp-controller="Photographers" asp-action="Newest" class="nav-link active bg-dark">Newest</a>
    </li>

</ul>

@foreach (var photographer in Model.PhotographersList)
{
    <div class="card mb-2">

        <div class="card-header bg-dark">
            <h5 class="bg-dark text-white mt-2">
                <a asp-controller="Messages" asp-action="Send" asp-route-id=@photographer.Id class="mx-2">
                    <img src="\sendmessage.png" alt="icon" style="width: 30px" />
                </a>
                 
                <a asp-controller="Profiles" asp-action="Index" asp-route-id="@photographer.Id" class="text-white">@photographer.Username</a>

                <a class="badge badge-pill badge-light float-lg-right">Reputation: @photographer.Reputation</a>
            </h5>
        </div>

        <div class="card-body">

            <div></div>

            <span>
                <a asp-for data-id="@photographer.Id" class="btn btn-dark">
                    Follow
                    <input id="followedId" type="hidden" value="@photographer.Username" />
                </a>
            </span>

            <span class="row col-md-9 float-lg-right">

                @if (photographer.BestCreationsUrl != null)
                {
                    <span class="img-thumbnail col-md-3 offset-6 float-lg-right">
                        <img src="@photographer.BestCreationsUrl" alt="..." class="img-thumbnail">
                    </span>
                }

                @if (photographer.RunnerupCreationsUrl != null)
                {
                    <span class="img-thumbnail col-md-3 offset- 9 float-lg-right">
                        <img src="@photographer.RunnerupCreationsUrl" alt="..." class="img-thumbnail">
                    </span>
                }

            </span>

            <span class="badge badge-pill badge-light">
                <img src="\follow.png" alt="icon" style="width: 20px" />
                <span id="@photographer.Id">@photographer.Followers</span>

                <img src="\like.png" alt="icon" style="width: 20px" />
                @photographer.LikedCreations
            </span>

        </div>
    </div>
}

<form method="post" id="antiForgeryForm"></form>

@section Scripts {
    <script asp-append-version="true" src="~/js/follows.js"></script>
}

