@using SightsView.Web.ViewModels.Messages;
@model ConversationsLoadViewModel
@{
    this.ViewData["Title"] = "Conversation";
}

<br />

<div class="text-dark text-center">
    <h1>Conversation</h1>
</div>

<hr />

@foreach (var message in Model.Messages)
{
    @if (this.User.Identity.Name == message.SenderUserName)
    {
        <div class="card d-md-block mb-2">
            <div class="card-header bg-dark text-white">
                <a asp-controller="Sights" asp-action="Index" asp-route-id="@message.SenderId" class="text-white">@message.SenderUserName</a>
                <a asp-controller="Messages" asp-action="Delete" asp-route-id=@message.Id class="btn-sm btn-light float-right" onclick="return confirm('Are you sure you want to delete?');">Delete</a>
            </div>

            <div class="card-body">
                <p class="card-text">@message.Content</p>
            </div>
        </div>
    }
    else
    {
        <div class="card d-md-block mb-2">
            <div class="card-header bg-dark text-white text-right">
                <a asp-controller="Messages" asp-action="Send" asp-route-id=@message.SenderId class="mx-2 float-left">
                    <img src="icons/sendmessages.png" alt="icon" style="width: 30px" />
                </a>
                <a asp-controller="Sights" asp-action="Index" asp-route-id="@message.SenderId" class="text-white">@message.SenderUserName</a>
            </div>

            <div class="card-body text-right">
                <p class="card-text">@message.Content</p>
            </div>
        </div>
    }
}

